<div class="row" style="width: 100vw; height: calc(100vh - 57.69px);">
    <div id="findiBox" class="col-8 d-none d-lg-block" style="background-image: url('<%= image_path 'findi_login.jpg' %>'); background-size:cover; display:flex; align-items: center; justify-content: center; height: calc(100vh - 57.69px);"> <!-- ##abertura da parte do logo findi -->
      <div class="title-findi"> <!-- ## abertura da div do logo do findi -->
        <h1>What are you doing <br>on your free time?</h1>
        <p>Meet Findi! A platform where you can<br>plan your days off and be together with friends.</p>
      </div> <!-- ##fechamento da div do logo -->
    </div>  <!-- ##fechamento do logotipo -->

        <!-- <img src="../../assets/images/avatar.jpg" alt="avatar" class="avatar"> -->

    <div class="col-12 col-md-12 col-lg-4 col-sm-4" style="width:40%; height:40%;"> <!-- ##abertura do login -->
      <div style="text-align: center;">
        <%= image_tag("avatar.jpg", id: "avatar2") %>
      </div>
      <h2 style="text-align: center;">Edit Profile</h2>

       <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
       <%= f.error_notification %>
      <div class="row" style="justify-content:center;">
        <div class="form-inputs" id="signup-form" style="justify-content:center;">

          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo, label: false, input_html: { style: "padding: 0px;" } %>
          <%= f.input :photo_cache, as: :hidden %>


        <div class="form-actions " style=" "  >
          <%= f.button :submit, "Update", class: "btn btn-primary w-100 " %>
        <% end %>
        </div>
          <p style="text-align: center;">Not happy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


        </div>
      </div>

    </div>  <!-- ##fechamento da parte do login  -->

  </div>
