


  <div class="row">
    <div id="findiBox" class="col-8 d-none d-lg-block" style="display:flex; align-items: center; justify-content: center; height:100vh;"> <!-- ##abertura da parte do logo findi -->
      <div class="findi-logo" style="border: solid; margin-top: -30%;"> <!-- ## abertura da div do logo do findi -->
          <h1 style="text-align: center;">Findi</h1>
          <p style="text-align: center; margin-top: -15px;">Enjoy your life !</p>
      </div> <!-- ##fechamento da div do logo -->
    </div>  <!-- ##fechamento do logotipo -->

        <!-- <img src="../../assets/images/avatar.jpg" alt="avatar" class="avatar"> -->

    <div class="col-12 col-md-12 col-lg-4 col-sm-4" style="width:40%; height:40%;"> <!-- ##abertura do login -->
    <%= image_tag("avatar.jpg", id: "avatar2") %>
      <h2 style="text-align: center;">Sign Up</h2>

      <div class="row" style="justify-content:center;">
        <div class="form-inputs" id="signup-form" style="justify-content:center;">

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", value: params[:email] }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

              <%= f.button :submit, "Sign up", class: "btn btn-primary w-100 " %>
          <% end %>

        <div class="form-actions " style=" "  >

        </div>
        </div>
      </div>




    </div>  <!-- ##fechamento da parte do login  -->


  </div>
