<div class="row">
    <div id="findiBox" class="col-8 d-none d-lg-block " style="background-image: url('<%= image_path 'forget.jpg' %>'); background-size:cover; display:flex; justify-content: center; height:100vh;">
    </div>  <!-- ##fechamento do logotipo -->

        <!-- <img src="../../assets/images/avatar.jpg" alt="avatar" class="avatar"> -->

    <div class="col-12 col-md-12 col-lg-4 col-sm-4" style="width:40%; height:40%;"> <!-- ##abertura do login -->
      <div style="text-align: center;"><%= image_tag("avatar.jpg", id: "avatar2") %></div>
      <h2 style="text-align: center;">Change your password</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
      <div class="row" style="justify-content:center;">
        <div class="form-inputs" id="signup-form" style="justify-content:center;">
           <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
           <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>

        <div class="form-actions " style=" "  >
          <%= f.button :submit, "Change my Password", class: "btn btn-primary w-100 " %>
        <% end %>
        </div>
        </div>
      </div>



      <div class="row" style="justify-content: center;">


      </div>


    </div>  <!-- ##fechamento da parte do login  -->

  </div> <!-- ##fechamento do row -->
<!-- ##fechamento do container -->
