<div class="chat-general">
    <div class="col-12 d-flex flex-column justify-content-between chat-groups">
      <div class="d-flex flex-column flex-grow-1 ml-2 mt-2 chat-messages" id="chat-content">
        <% @messages.each do |message|%>
        <div>
          <% if message.user == current_user %>
          <div class="d-flex flex-column mr-2 mt-2 align-items-end" style="text-align-right;">
              <div style="padding: 10px 10px 1px 10px;"></div>
              <div style="padding:10px; max-width:500px; margin-bottom: -15px;">
                <div id="message-user-content"><%= message.content %></div>
              </div>
          </div>
          <% else %>
          <div class="d-flex flex-column">
            <div style="padding: 10px 10px 1px 10px;">
              <strong style="color:#5c005c; font-size:12px;"><%= message.user.email %></strong>
            </div>
            <div style="padding:10px; max-width:500px; margin-bottom: -15px;">
              <div id="message-invite-content"><%= message.content %></div>
            </div>
          </div>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="chat-input-form">
      <%= simple_form_for [@event, @message], wrapper: :inline_form, html: { class: "form-inline" } do |f|%>
        <div class="flex-grow-1">
        <%= f.input :content, label: false, input_html: { class: "ml-1 mb-1 mt-1 mr-sm-1 w-100", id:"input-chat" }%>
        </div>
        <%= f.button :button do %>
          <i class="fas fa-paper-plane" style="color:#5c005c; font-size:30px;"></i>
        <% end %>
      <% end %>
      </div>
    </div>
</div>
