<div style="height: 85vh; background:#f8eee7;">
  <div class="row" style="height:85vh; margin: 0;">
    <div class="col-12 d-flex flex-column justify-content-between chat-groups" style="height: 85vh;">
      <div class="d-flex flex-column flex-grow-1 ml-2 mt-2" style="overflow-y: auto; overflow-x: hidden;">
        <% @messages.each do |message|%>
        <div>
          <% if message.user == current_user %>
          <div class="row ml-2 mt-2">
            <div>
              <p class= "chat-contact"><strong><%= message.user.email %></strong></p>
              <div>
                <p class="box"><%= message.content %></p>
              </div>
            </div>
          </div>
          <% else %>
            <div class="row mr-2 mt-2 justify-content-end">
              <div style="text-align: right;">
              <p><strong><%= message.user.email %></strong></p>
              <div>
              <p class="box-user"><%= message.content %></p>
              </div>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
      <div style="background:#EEF0F2; padding:10px;">
      <%= simple_form_for [@event, @message], wrapper: :inline_form, html: { class: "form-inline" } do |f|%>
        <div class="flex-grow-1">
        <%= f.input :content, label: false, input_html: { class: "ml-1 mb-1 mt-1 mr-sm-1 w-100" }%>
        </div>
        <%= f.button :button do %>
          <i class="fas fa-paper-plane" style="color:#5c005c; font-size:30px;"></i>
        <% end %>
      <% end %>
      </div>
      <%# <form action="">
      <input type="text" class="chat-input mb-2 ml-2 mr-2">
      </form> %>
    </div>
  </div>
</div>
