
<div class="modal fade" id="dayEventsModal<%= date %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="dayEventsModalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your events on <%= date.strftime('%A %e, %B %Y') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <% events.each do |event| %>
          <div class="d-flex flex-row justify-content-between" id="event-item" style="border-bottom: 1px solid lightgrey; margin-bottom: 20px;">
              <div>
              <strong style="color:#5C005C"><%= event.date.strftime('%I:%M %p') %></strong> | <%= event.title %> (<%= (event.user == current_user ? 'Owner' : 'Invited') %>)
              </div>
              <div class="ml-2" style="flex-grow:1;">
                <%= link_to event_path(event), id: "event-details-link" do %>
                <i class="fas fa-info-circle" style="font-size: 15px; color:#5C005C; margin-right:8px;"></i>
                <% end %>
              </div>
              <div>
                <%= link_to event_path(event), method: :delete, data: { confirm: "are you shure?" } do %>
                <i class="far fa-trash-alt" style="color:#FF708A; margin-right:8px;"></i>
                <% end %>
              </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pendingEventsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="dayEventsModalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your pending events</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul style="list-style: none;">
          <li id="event-item">
            <% @pending_invites.each do |invite| %>
              (<%= invite.event.date.strftime('%A %e, %B %Y at %I:%M %p') %>) <%= invite.event.title %> <p style="font-size: 12px;"><%= link_to 'Accept', invite_path(invite), method: :patch %> </p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
