<div class="container-fluid" style="height: 90vh;">
  <div class="row">
    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12" style="height: 90vh;">
      <div class="d-flex flex-column justify-content-center align-items-center m-3 p-1" id="new-event-container">
        <div>
        <h1 style="margin-bottom: 10px; font-size: 2rem; color: #666666;">Create an event</h1>
        </div>
          <!-- FORM BEGIN -->
          <div class="form-event" style="width: 20rem;">
            <%= simple_form_for @event  do |f| %>
              <%= f.input :title, label: false, placeholder: "Title"  %>
              <%= f.input :description, label: false, placeholder: "Description"  %>
              <div class="row" style="width: 20rem; margin-left: 0px;">
                <div class="col-6 p-0">
                  <%= f.input :date, as: :string, placeholder: "Click on a day", disabled: true, label: false %>
                </div>
                <div class="col-6 p-0">
                  <%= simple_fields_for :event_time do |field| %>
                    <%= field.input :event_time, as: :time, label: false, id: "time-input" %>
                  <% end %>
                  <%= simple_fields_for :event_date do |field| %>
                    <%= field.input :event_date, as: :hidden, label: false %>
                  <% end %>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between w-100" style="margin: 0px;">
                <div class="w-50 ml-0" id="inputbox" style="max-width: 130px;">
                  <%= f.input :photo, label: false, input_html: { style: "padding: 0px;" } %>
                  <%= f.input :photo_cache, as: :hidden %>
                </div>
                <div class="w-50 d-flex justify-content-end" style="margin: 0px; padding: 0px;">
                  <%= f.submit 'Create Event', class:"btn btn-primary"%>
                </div>
              </div>
            <% end %>
          </div>
        <!-- FORM END -->
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center m-3">
        <!-- CALENDAR BEGIN -->
        <div>
          <%= month_calendar(attribute: :date, events: @events) do |date, events| %>
            <div id="calendar-day">
              <% if events.present? %>
                <a id="events-modal-link" data-toggle="modal" data-target="#dayEventsModal<%= date %>">
              <% end %>
                <span id="day-text" style="cursor: pointer;"><%= date.day %></span>
              <% if events.present? %>
                </a>
              <% end %>
                <%= hidden_field_tag('calendar-datetime', date) %>
              <% events.each do |event| %>
              <% end %>
            </div>
            <%= render 'modal', events: events, date: date %>
          <% end %>
        </div> <!-- CALENDAR END -->
        <div class="d-flex flex-column justify-content-center">
          <div style="text-align:center;">
            <span style="color: rgba(102,102,102, 0.6);">* Click on a day to see your events</span>
          </div>
          <div style="text-align:center;">
            <a id="pending-modal" data-toggle="modal" data-target="#pendingEventsModal" style="cursor: pointer;">Pending events (<%= @pending_invites.count %>)</a>
          </div>
        </div>
      </div>
      <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    </div> <!-- LEFT CONTAINER END -->

    <div class="d-none d-xl-block col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-image: url('<%= image_path 'index_foto.jpg' %>'); background-size:cover;">
    <div class="row" style="height:70vh;"></div>
      <div class="row justify-content-center align-items-end" style="height:5vh;">
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'datepicker.js' %>
