
<div class="container-fluid" style="border: 1px solid black; height: 85vh;">
  <div class="row" style="border: 1px solid black;">
    <div class="col-md-7 col-sm-12 col-12" style="border: 1px solid black; height: 85vh;">
      <div class="container mt-3" style="height: 40vh;">
        <h1>Create an event</h1>
        <%= simple_form_for([@event], remote: true) do |f| %>
          <div class="form-row">
            <div class="form-group col-md-8" style="margin-bottom: 1px;">
              <%= f.input :title, label: false, placeholder: "Title"  %>
              <%= f.input :description, label: false, placeholder: "Description"  %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <%= f.input :date, as: :string, placeholder: "Choose a day on the calendar", disabled: true, label: false %>
            </div>
            <div class="form-group col-md-3">
              <%= f.input :date, as: :time, label: "Time", input_html: { style: ""} %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="" style="height: 45vh; width: 350px;">
      <%= month_calendar(attribute: :date, events: @events) do |date, events| %>
        <div id="calendar-day">
          <!-- <a type="button" data-toggle="modal" data-target="#exampleModal"> -->
            <span id="daytext"><%= date.day %></span>
            <%= hidden_field_tag('calendar-datetime', date) %>
          <!-- </a> -->
          <% events.each do |event| %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 col-12" style="border: 1px solid black;">
      <div class="row" style="height:80vh;">Image</div>
      <div class="row justify-content-center align-items-end" style="border: 1px solid red; height:5vh;">
        <div class="col-md-6" style="border: 1px solid black; text-align:center;">
          <% if policy(Event).create? %>
            <%= link_to 'Create Event', new_event_path, class:"btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
        <ul>
        <% @events.each do |event| %>
          <li>
            <%= link_to event.title, event_path(event) %>
            <p><%= event.date %></p>
          </li>
        <% end %>
        </ul>

<%= javascript_pack_tag 'datepicker.js' %>
