<div class="container-fluid" style="height: 85vh;">
  <div class="row">
    <div class="col-md-5 col-sm-12 col-12" style="height: 90vh;" id="right-container">
      <div class="container mt-3 d-flex flex-column justify-content-center align-items-center" style="height: 40vh;" id="new-event-container">
        <div id="container-with-title">
          <h1 style="margin-bottom: 10px;">Create an event</h1>

          <!-- FORM BEGIN -->
          <div class="form-event" style="width: 20rem;">
            <%= simple_form_for([@event], remote: true,  defaults: { wrapper_html: { class: 'form-event' } } ) do |f| %>
              <%= f.input :title, label: false, placeholder: "Title"  %>
              <%= f.input :description, label: false, placeholder: "Description"  %>
              <div class="row" style="width: 20rem; margin-left: 0px;">
                <div class="col-6 p-0">
                  <%= f.input :date, as: :string, placeholder: "Click on a day on the calendar", disabled: true, label: false %>
                </div>
                <div class="col-6 p-0">
                  <%= f.input :date, as: :time, label: false, input_html: { style: ""} %>
                </div>
              </div>
              <div id="inputbox">
                <%= f.input :photo, label: false, input_html: { style: "" } %>
                <%= f.input :photo_cache, as: :hidden %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- FORM END -->
      </div>

      <!-- CALENDAR BEGIN -->
      <div class="container" style="height: 30vh; width: 350px;">
        <%= month_calendar(attribute: :date, events: @events) do |date, events| %>
          <div id="calendar-day">
            <% if events.present? %>
              <a id="events-modal-link" data-toggle="modal" data-target="#dayEventsModal<%= date %>">
            <% end %>
              <span id="day-text" style="cursor: pointer;"><%= date.day %></span>
            <% if events.present? %>
              </a>
            <% end %>
              <%= hidden_field_tag('calendar-datetime', date) %>
            <% events.each do |event| %>
            <% end %>
          </div>
          <%= render 'modal', events: events, date: date %>
        <% end %>
      </div> <!-- CALENDAR END -->
      <div style="text-align:center; padding: 20px;">
        <% if policy(Event).create? %>
          <%= link_to 'Create Event', new_event_path, class:"btn btn-primary w-50"%>
        <% end %>
      </div>
    </div> <!-- RIGHT CONTAINER END -->

    <div class="col-md-7 col-sm-12 col-12" style="background-image: url('<%= image_path 'index_foto.jpg' %>'); background-size:cover;">
    <div class="row" style="height:70vh;"></div>
      <div class="row justify-content-center align-items-end" style="height:5vh;">

      </div>
    </div>
<%= javascript_pack_tag 'datepicker.js' %>
