<div class="container-fluid" style="height: 85vh;">
  <div class="row">
    <div class="col-md-7 col-sm-12 col-12" style="height: 85vh;">
      <div class="container mt-3 d-flex flex-column justify-content-center align-items-center" style="height: 40vh;">
      <h1 style="margin-bottom: 10px;">Create an event</h1>
        <!-- FORM BEGIN -->
        <div class="form-event" style="width: 20rem;">
        <%= simple_form_for([@event], remote: true,  defaults: { wrapper_html: { class: 'form-event' } } ) do |f| %>
          <%= f.input :title, label: false, placeholder: "Title"  %>
          <%= f.input :description, label: false, placeholder: "Description"  %>
          <%= f.input :date, as: :string, placeholder: "Click on a day on the calendar", disabled: true, label: false %>
          <%= f.input :date, as: :time, label: false, input_html: { style: ""} %>
        <% end %>
        </div>
        <!-- FORM END -->
      </div>

      <!-- CALENDAR BEGIN -->
      <div class="container" style="height: 45vh; width: 350px;">
        <%= month_calendar(attribute: :date, events: @events) do |date, events| %>
          <div id="calendar-day">
            <% if events.present? %>
              <a id="events-modal-link" data-toggle="modal" data-target="#dayEventsModal<%= date %>">
            <% end %>
              <span id="day-text" style="cursor: pointer;"><%= date.day %></span>
            <% if events.present? %>
              </a>
            <% end %>
              <%= hidden_field_tag('calendar-datetime', date) %>
            <% events.each do |event| %>
            <% end %>
          </div>
          <%= render 'modal', events: events, date: date %>
        <% end %>
      </div> <!-- CALENDAR END -->

    </div> <!-- RIGHT CONTAINER END -->

    <div class="col-md-5 col-sm-12 col-12">
    <div class="row" style="height:80vh;">Image</div>
      <div class="row justify-content-center align-items-end" style="height:5vh;">
        <div class="col-md-6" style="text-align:center;">
          <% if policy(Event).create? %>
            <%= link_to 'Create Event', new_event_path, class:"btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
<%= javascript_pack_tag 'datepicker.js' %>

    <div style="height: 50vh;">
      <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.title, event_path(event) %>
          <p><%= event.date %></p>
          <% if event.user == current_user %>
            <p>Owner</p>
          <% else %>
            <p>Invited</p>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>

<div class="modal fade" id="dayEventsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your events</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hi</p>
        <% %>
      </div>
    </div>
  </div>
</div>
