<div class="container-fluid">
  <div class="row" style="height:85vh;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-7">
      <div class="d-flex flex-column">

        <!--Title do aniversario-->
        <div class="row d-xl-none d-md-none justify-content-center" style="border-bottom:5px solid #5c005c; background:#ce6a85; text-align:center;">
            <h1 style="color:white;"><%= @event.title %></h1>
        </div>
        <% if @event.photo.file.nil? %>
        <div class="row d-none d-md-block" style="height: 55vh; background-image: url('<%= image_path 'show.jpg' %>'); background-size:cover; border-bottom:5px solid #5c005c; position:relative;">
          <div class="d-flex flex-row justify-content-start title-show-banner-content">
            <h1><%= @event.title %></h1>
          </div>
        </div>
        <% else %>
        <div class="row d-none d-md-block" style="height: 55vh; background-image: url('<%= cl_image_path @event.photo %>'); background-size:cover; border-bottom:5px solid #5c005c; position:relative;">
          <div class="d-flex flex-row justify-content-start title-show-banner-content">
            <h1><%= @event.title %></h1>
          </div>
        </div>
        <% end %>
        <!--End-->

        <!--Inicio dos detalhes-->
        <div class="row justify-content-around details-show-content p-0">
          <div class="col-lg-9 col-md-12">
            <div class="d-flex flex-column justify-content-between">
            <div class="d-flex flex-column">
            <div class="mt-3" style="position:relative;">
              <% @confirmed.first(3).each do |accept| %>
                <span data-toggle="tooltip" data-placement="top" title="<%= accept.user.email %>"><%= cl_image_tag accept.user.photo, class: "avatar_details" %></span>
              <% end %>
              <a href="#" data-toggle="modal" data-target="#friendsConfirmedModal" style="text-decoration:none;"><strong><% unless @confirmed.count - 3 < 0 %> ...e mais <%= @confirmed.count - 3 %><% end %></strong></a>
            </div>
            <div class="mt-1 mb-4">
              <article><%= @event.description %></article>
            </div>
            </div>
            <div class="data-location">
              <div class="d-flex flex-row mr-3 align-items-center mr-4" id="data-location-space">
                <div class="mr-3"><i class="fas fa-calendar-check" style="color:#5c005c; font-size:30px;"></i></div><div style="color:#FF708A;"><strong><%= @event.date.strftime("%a, %d %b %Y at %l:%M %p")%></strong></div>
              </div>
              <div class="d-flex flex-row mr-3 align-items-center" id="selected-suggestion" data-toggle="modal" data-target="#mapModal">
                <% unless @suggestion_selected.nil? %>
                <div class="mr-3"><i class="fas fa-map-marker-alt" style="color:#5c005c; font-size:30px;"></i></div><div style="color:#FF708A;" ><p class="mb-0"><strong><%= @suggestion_selected.title %></p><span><%= @suggestion_selected.address %></span></strong></div>

                <% end %>
              </div>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 pt-4">
          <div class="menu-add">
            <div id="menu-add-space" data-toggle="tooltip" data-placement="top" title="Suggestions" >
            <i class="fas fa-street-view" style="color:white; font-size:25px; background:#5c005c; padding:10px; border-radius:50px;" data-toggle="modal" data-target="#suggestionModal"></i>
            </div>
            <div data-toggle="tooltip" data-placement="top" title="Invite friends">
            <i class="fas fa-user-plus" style="color:white; font-size:20px; background:#5c005c; padding:12px 10px; border-radius:50px;" data-toggle="modal" data-target="#friendsModal"></i>
            </div>
          </div>
        </div>
      </div>
      <!--End-->

      </div>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 p-0">
        <%= render 'chat' %>
      </div>
  </div>
</div>

<!-- Modal Insertion of Suggestions -->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Insert a suggestion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% if @event.user == current_user %>
      <div class="modal-body">
        <%= simple_form_for [@event, @suggestion] do |r| %>
        <%= r.input :title, label: 'Title' %>
        <!-- <input type="search" id="address-input" placeholder="Where are we going?" label="Address"/> -->
        <%= r.input :address, as: :search, label: 'Address', id: 'address-input' %>
        <%= r.button :submit, class:"btn btn-primary" %>
        <% end %>


      </div>
      <% end %>
        <div class="mb-5" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
          <% @event.suggestions.each do |suggestion| %>
            <div class="d-flex flex-column mt-2 ml-4 mr-2" style="color:#666666;">
              <% if @event.user == current_user %>
                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <%= link_to suggestion_path(suggestion.id), method: :delete, data: { confirm: "Are you sure you want to delete it?" } do %>
                    <i class="far fa-trash-alt" style="color:#FF708A; margin-right:8px;"></i>
                    <% end %>
                  </div>
                  <div class="flex-grow-1">
                    <span><%= link_to suggestion.title, suggestion_path(suggestion.id), method: :patch %></span>
                  </div>
                  <div>
                    <strong> <span class="mr-2" style="color:#FF708A;">Votes:</span> <%= suggestion.votes.where(status: true).count %></strong>
                  </div>
                </div>
              <% else %>
                <div class="d-flex flex-row justify-content-between align-items-center">

                  <div class="flex-grow-1">
                    <span><%= suggestion.title %></span>
                  </div>
                    <div class="mr-2">
                      <%= link_to suggestion_votes_path(suggestion.id, vote:'down'), method: :post, data: { confirm: "You can only vote once! are you sure?"} do %>
                        <i class="far fa-thumbs-down" style="color:#5c005c; margin-right:8px; font-size:20px;"></i>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to suggestion_votes_path(suggestion.id, vote:"up"), method: :post, data: { confirm: "You can only vote once! are you sure?"} do %>
                        <i class="far fa-thumbs-up" style="color:#FF708A; margin-right:8px; font-size: 20px;"></i>
                      <% end %>
                    </div>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <%= javascript_pack_tag 'init_autocomplete.js' %>
</div>

<!--Modal for @media for suggestions-->

<!-- Invite a friend modal -->
<div class="modal fade" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Invite a friend</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% if @event.user == current_user %>
        <div class="modal-body">
          <%= simple_form_for [@event, @invite] do |f| %>
          <%= f.input :email, label: 'Email'%>
          <%= f.input :message, label: 'Message' %>
          <%= f.submit 'Invite', class:"btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
      <div style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
        <% @invited.each do |inv| %>
          <div style="border-bottom:1px solid lightgrey;">
            <div class="ml-3"><i class="far fa-user" style="color:#FF708A; margin-right:10px;"></i><%= inv.email %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal Amigos confirmados -->
<div class="modal fade" id="friendsConfirmedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmed Friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <% @event.invites.each do |invite| %>
          <div style="border-bottom:1px solid lightgrey;">
            <div>
            <strong>msg:</strong> <%= invite.message %>
            </div>
            <div>
            <strong>email:</strong>  <%= invite.email %>
            <% if invite.accepted %>
                <i class="fas fa-check" style="color:green;"></i>
              <% else %>
                <i class="fas fa-times" style="color:red;"></i>
              <% end %>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabels" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:85%; height:50vh;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabels" style="text-align: ">Local Map</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div
            id="map"
            style="width: 100%;
            height: 100%;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>

      </div>
    </div>
  </div>
</div>
