<div class="container">
  <div class="row">
    <div class="col-8" style="background-image: url('app/assets/images/backgroundLogin.jpg')"> <!-- ##abertura da parte do logo findi -->
      <div class="findi-logo" style=" border: solid; align-content:center;"> <!-- ## abertura da div do logo do findi -->
          <h1 style="text-align: center;" >Findi</h1>
      </div> <!-- ##fechamento da div do logo -->
    </div>  <!-- ##fechamento do logotipo -->

    <div class="col-4"> <!-- ##Abertura da parte do login -->
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>  <!-- ##fechamento da parte do login  -->

  </div> <!-- ##fechamento do row -->

</div> <!-- ##fechamento do container -->
